[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
strawberry-graphql = "==0.12.0"
databases = {extras = ["sqlite"], version = "*"}
alembic = "*"

[dev-packages]
"flake8" = "*"
black = "*"
pdbpp = "*"
bpython = "*"
pytest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
